[naoko]
room    =                          ; CyTube room to join
room_pw =                          ; Password for the room (can be blank)
name    =                          ; Nickname for the bot
pass    =                          ; Password for the bot
domain  = cytu.be                  ; The domain for CyTube
io_url  = http://sea.cytu.be:8880  ; 
